$white: rgba(255, 255, 255, 0.771);
$orange_purple: #D55464;
$orange__purple_light: rgba(213, 84, 100, 0.8);
$white_brown: #EEEBEA;
$white__brown_transparent: #EEEBEA;
$black_red: #646262; 
$gradient_oragnge_purple: linear-gradient(-55deg, rgba(174,46,137,0.70) 0%, rgba(239,110,75,0.70) 100%);

$color__bg_body: $white_brown;
$color__vmain: $orange_purple;
$color__main_light: $orange__purple_light;
$color__text: $black_red;
$color__text_white: $white_brown;
$color__bg_gradient: $gradient_oragnge_purple;

// shadows:
$shadow_1: -3px 3px 41px 0 rgba(0,0,0,0.09);