@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

$font_title: 'Julius Sans One', sans-serif;

$font_main: 'Lato', sans-serif;

$font_size: 16px;
$font_weight: 300;
$line_height: 1.6;
